<configuration debug="false" scan="true">
	<appender name="file-appender" class="ch.qos.logback.core.FileAppender">
	    <file>log/aaa_${instance:-default}.log</file>
	    <encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n - %ex</pattern>
    	</encoder>
	</appender>

	<appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<appender name="peer-appender" class="ch.qos.logback.core.FileAppender">
	    <file>log/peer_${instance:-default}.log</file>
	    <encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
	</appender>
	
	<appender name="ignite-appender" class="ch.qos.logback.core.FileAppender">
	    <file>log/ignite_${instance:-default}.log</file>
	    <encoder>
      		<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    	</encoder>
	</appender>

	<root level="ERROR">          
    	<appender-ref ref="console-appender" />
    	<appender-ref ref="file-appender" />
  	</root>
  	
  	<logger name="yaas" level="INFO" additivity="false">
    	<appender-ref ref="file-appender" />
  	</logger>
  	
  	<logger name="yaas.server.DiameterPeer" level="INFO" additivity="false">
  		<appender-ref ref="peer-appender" />
  	</logger>
  	
  	<logger name="org.apache.ignite" level="INFO" additivity="false">
  		<appender-ref ref="ignite-appender" />
  	</logger>

</configuration>

